
<div class="row container">
	<div class="cwidth-2 header lspan">
		<img class="logo-img cwidth-2 cheight-1" src="images/solved-logo.png" alt="Solved.">
		<h1 class="logo">Solved.</h1>
		<h2 class="logosub">Graphic design. Game design.</h2>
		<p class="byline">Who we are: a 
			solutions-driven 
			design team 
			with 10+ years 
			branding & 
			advertising 
			experience, 
			based in 
			Toronto, ON.</p>

		<ul class="nav nav-pills pull-right">
			<li class="active"><a ng-href="#">branding</a></li>
			<li><a ng-href="#">game design</a></li>
			<li><a ng-href="#">print</a></li>
		</ul>
	</div>
	<div class="lspan">
		<div class="grid-container-7">
			<div class="cell cwidth-2 cheight-2">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						showcase an espresso bar’s originality in 
						an neighbourhood saturated by Starbucks
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/mercury-espresso-bar.png" alt="Mercury Espresso Bar" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-1 cheight-2">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						a new, nation-wide policy sets longer hours and openings on Sundays but only for certain branches
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/td-hours-posters.png" alt="TD Canada Trust Posters" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-2 cheight-3 rspan">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						a variety of public-facing collateral for international markets, for over 11 regions/7 languages
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/kobo-french.png" alt="Kobo French" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-3 cheight-2">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						create an Augmented Reality Game to promote the international launch of Dan Brown’s Inferno
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/the-descent.png" alt="The Descent" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-2 cheight-1 rspan">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						create branding for an open-source workshop/event organizational website (primarily for the swing dance community)
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/swing-tix.png" alt="Swing Tix" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-2 cheight-3">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						create an entire media package to promote a film festival for a toronto youth shelter with tight budget constraints and limited assets
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/street-reels.png" alt="Street Reels" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-2 cheight-3">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						campaign for a Fringe Festival play, telling a single story from fractured, multiple perspectives
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/ispy.png" alt="iSpy" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-1 cheight-2 rspan">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						a variety of sales collateral for international markets, for over 11 regions/ 7 languages
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/kobo-italian.png" alt="Kobo Italian" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-1 cheight-2 rspan">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						campaign for a horror/satire Fringe Festival presentation with tight budget constraints and limited assets
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/welcome-to-my-death.png" alt="Welcome to my Death" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-2 cheight-1">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						brand a music/dance school that needs to appeal to both children and adults
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/morning-glory.png" alt="Morning Glory" class="img-responsive">
				</div>
			</div>
			<div class="cell cwidth-2 cheight-1">
				<div class="card back">
					<p>
						<strong>opportunity:</strong><br>
						simplify, unify and standardize the existing branding for a café
					</p>
				</div>
				<div class="card front">
					<img src="images/tiles/scherzo.png" alt="Scherzo" class="img-responsive">
				</div>
			</div>			
		</div>
	</div>
</div>



<script type="text/javascript">
	function resizeCards() {
		$('.cell').each( function() {
			$('.card').removeClass('flipped');
			var height = $(this).find('img').height();
			console.log( height );
			$(this).find('.card').css('height', height + 'px');
			$(this).find('.back').css('height', height + 'px');
			$('.card').addClass('flipped');
		} );
	}
	setTimeout( function() {
		resizeCards();
	},1000);
	$(window).resize( function() {
		console.log( 'resize' );
		resizeCards();
	} );
	$('.cell').click(function(){
		$(this).siblings().find('.card').addClass('flipped');
		$(this).find('.card').toggleClass('flipped');
		return false;
	});
</script>